################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebUI/bin/Debug/net9.0
/WebUI/obj
/.vs/AspNetCore-Razor
/Core/obj
/Infrastructure/obj
/Infrastructure/bin/Debug/net8.0
