@{
    ViewData["Title"] = "Vacinas";
}

<div class="container mt-5">
    <h2 class="mb-4">Vacinas</h2>
    <div class="mb-3">
        <a asp-controller="Vaccination" asp-action="Create" class="btn btn-success d-flex align-items-center gap-2">
            <i class="fa-solid fa-plus"></i>
            Nova Vacinação
        </a>
    </div>
    <div>
        <!-- Aqui você pode listar as vacinas, adicionar links para editar, excluir, etc. -->
        <p>Funcionalidades relacionadas a vacinas aparecerão aqui.</p>
    </div>
</div>